# Default .dockerignore file for Defang
**/__pycache__
**/.direnv
**/.DS_Store
**/.envrc
**/.git
**/.github
**/.idea
**/.next
**/.vscode
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/node_modules
**/Thumbs.db
Dockerfile
*.Dockerfile
# Ignore our own binary, but only in the root to avoid ignoring subfolders
defang
defang.exe
# Ignore our project-level state
.defang

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
*.egg
.env
!.env.example
*.venv
env/
venv/
ENV/
**/venv/
.Python

# Django
*.log
local_settings.py
# db.sqlite3  # Allow for development
# media/      # Allow for development
staticfiles/
static_root/
static_cdn/
static_collected/

# Environment variables (allow .env for Docker)
# .env

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.cache
pytestdebug.log

# Migrations (allow for development)
# **/migrations/*.py
# !**/migrations/__init__.py

# Bootstrap static frontend (basic use)
*.map
node_modules/

# Docker (if used)
*.pid
*.db
*.tar
*.gz
*.log
docker-compose.override.yml

# MySQL / PostgreSQL dumps
*.sql
*.sqlite3

# Backup files
*.bak
*.swp
*.tmp
*~